body {
 margin: 0;
 border: 0;
 font-family: 'Roboto Mono', monospace;
 background-color: #B0BEC5;
}

h1 {
 font-size: 18px;
 text-align: center;
 color: black;
}

h2 {
 font-size: 16px;
 text-align: center;
 color: #81D4FA;
}

div chat {
  background-color: #E0E0E0;
}

header {
  margin-bottom: 20px;
  padding: 20px;
  border-bottom: 1px solid rgb(197, 231, 250);
}

header nav ul li {
  display: inline;
}

.writing img {
  width: 400px
}

.centerpicture {
  display:block;
  margin-left:auto;
  margin-right:auto;
}

.sean {
  color: #B2BEB5 ;
  font-family: courier, monospace;
  font-weight: bold;
  text-align: center;
}

.andori {
  color: #D81B60;
  font-family: courier, monospace;
  font-weight: bold;
  text-align: center;
}

.emei {
  color: #6082B6;
  font-family: courier, monospace;
  font-weight: bold;
  text-align: center;
}

.center {
  text-align: center;
}
